extend layout

block content

	h1 INSERT LOGO HERE
	.login
		form(name='login', action='login', method='POST')
			.formgroup
				label Username: 
					input(type='text', name='Username')
			.formgroup
				label Password:  
					input(type='password', name='Password')
			.formgroup.login
				input.btn#login(type='submit', value='Login')

		form(name='signup', action='signup', method='GET')
			input.btn#signup(type='submit', value='Sign Up')

	p Or login using the options below
	.thirdPartyLogin
		span
			.fa.fa-facebook
		span
			.fa.fa-google
		span
			.fa.fa-twitter
		span
			.fa.fa-linkedin
		span
			.fa.fa-github
		span
			.fa.fa-instagram